source [find interface/cmsis-dap.cfg]

# chip name
set CHIPNAME at91samc21e18

source [find target/at91samdXX.cfg]

init
targets
reset halt

# TODO: enable boot protection
# at91samd bootloader 0

program _build/user-debug/application_noheader.hex verify

reset
shutdown
